---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Mozcko | Portfolio" lang="en">
    <main class="flex h-screen items-center justify-center text-white">
        <h1 class="text-4xl font-bold">Welcome to my Portfolio (EN)</h1>
    </main>
</Layout>