---
import Layout from '../layouts/Layout.astro';
// Aquí importaremos tus componentes de React más adelante
// import { Hero, Navbar } from '../components/react';
---

<Layout title="Mozcko | Portafolio" lang="es">
    <main class="flex h-screen items-center justify-center text-white">
        <h1 class="text-4xl font-bold">Bienvenido a mi Portafolio (ES)</h1>
        </main>
</Layout>