---
// 1. CAMBIO AQUÍ: Importamos ClientRouter en lugar de ViewTransitions
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
	title: string;
    lang?: string;
}

const { title, lang = "es" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Mozcko Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        
        <ClientRouter />
	</head>
	<body class="bg-primary relative z-0">
		<slot />
	</body>
</html>